html {
  background-color: #ffffff;
}

body {
  /* font-family: Georgia, Helvetica, Arial, Verdana, san-serif, Times; */
  /* font-family: 'Lato', Arial, sans-serif; */
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
  color: #000;
  background-color: #ffffff;
  text-align: left;
  /* for IE */
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 30px;
  max-width: 960px;
}

table {
  background-color: #ffffff;
}

a, a:link, a:visited {
  color: #a630ce;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  background-color: underline
}

a:hover {
  color: #527bbd;
  background: inherit;
  text-decoration: underline;
}

img {
  border: 0;
}

h1, h2, h3, h4 {
  /* font-family: Georgia, Helvetica, Arial, Verdana, san-serif, Times; */
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
}

p {
  font-size: 20;
}

.publication-image-container {
  width: 320px;
  height: 200px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.publication-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

#tbPublications table {
  width: 100%;
  table-layout: fixed;
}

#tbPublications td[width="40%"] {
  width: 40% !important;
}

#tbPublications td[width="60%"] {
  width: 60% !important;
}